#timer-select{
    flex-direction: column;
    min-width: 260px;
}

#timer-select .display{
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    box-shadow: #bbb 0px 3px 5px;
    border-radius: 5px;
}

#timer-select  .tag{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    height: 36px;
    color: #777;
}


#timer-select .selected{
    flex-direction: column;
}

#timer-select .time{
    font-size: 2rem;
    flex-direction: column;
    text-align: center;
}


.counter{
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    /* border: 1px solid #ddd; */
}

.counter .arrow-button{
    width: 100%;
    min-width: 50px;
    cursor: pointer;
    padding: 10px 0;
}